.Main_Button{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration:none;
    border: 1px solid rgb(65, 65, 65);
    border-radius: 35px;
    
    background-color: rgba(75, 0, 130, 0.527);
}

.Main_Button p{
    color: black;
    font-size: 1.2em;
    margin: 3px 30px;
    padding-top: 5px;
    font-family:monospace;
}

.Main_Button:hover{
    background-color: rgba(156,244,168,0.3);
    border:2px solid teal;
    font-weight: bold;
}
.Main_Button:hover p{
    color: teal
}

.Button-light{
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration: none;
    border:2px solid  lightgray;
    border-radius: 40px;
    margin-top:2em;
    background-color:white;
}

.Button-light p{
    color:#007336;
    font-size: 1.2em;
    margin: 8px 60px;
    padding-bottom: 5px;
}

.Button-light:hover{
    background-color: rgba(156,244,168,0.3);
    border:2px solid teal;
    font-weight: bold;
}